# **MÓDULO 25 - Operações Básicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [ ]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [ ]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [ ]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [ ]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

In [3]:
import sqlite3  # Importando a biblioteca necessária
import pandas as pd

# Carregando o arquivo CSV
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

# Conectando ao banco de dados SQLite em memória
conn = sqlite3.connect(':memory:')

# Carregando o DataFrame no banco de dados SQLite
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

# Definindo a função run_query
def run_query(query):
    return pd.read_sql_query(query, conn)

# Consulta 1: Retornar os nomes dos produtos distintos
query = """
SELECT DISTINCT PRODUTO
FROM tb_vendas;
"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

In [4]:
query = """
SELECT COUNT(DISTINCT ID_CLIENTE) AS total_clientes_distintos
FROM tb_vendas;
"""
result_df = run_query(query)
print(result_df)

   total_clientes_distintos
0                        22

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

In [5]:
query = """
SELECT DISTINCT PRODUTO, VALOR_UNID
FROM tb_vendas
WHERE CAST(REPLACE(VALOR_UNID, ',', '.') AS FLOAT) >= 50;
"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5
2  VESTIDO        102

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [6]:
query = """
SELECT ID_COMPRA, 
       (CAST(REPLACE(VALOR_UNID, ',', '.') AS FLOAT) * UNIDADES) AS valor_total
FROM tb_vendas
ORDER BY valor_total DESC
LIMIT 5;
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  valor_total
0       1267        204.0
1       1253        179.8
2       1255        179.8
3       1257        179.8
4       1262        179.8

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

In [9]:
query = """
SELECT PRODUTO, 
       AVG(CAST(REPLACE(VALOR_UNID, ',', '.') AS FLOAT)) AS media_valor_unid
FROM tb_vendas
GROUP BY PRODUTO
ORDER BY media_valor_unid DESC;
"""
result_df = run_query(query)
print(result_df)

    PRODUTO  media_valor_unid
0   VESTIDO             102.0
1     CALCA              89.9
2   BERMUDA              79.5
3  CAMISETA              34.5
4      MEIA              25.9

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

In [8]:
query = """
SELECT ID_CLIENTE, COUNT(ID_COMPRA) AS total_compras
FROM tb_vendas
GROUP BY ID_CLIENTE
ORDER BY total_compras DESC
LIMIT 3;
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  total_compras
0        9425              2
1        9081              2
2        9801              1